.layout {
  display: grid;
  grid-template-columns: 1fr minmax(auto, 584px) 1fr;
  grid-template-rows: auto 1fr auto;
}

.layout__header {
  grid-column: 1 / -1;
}

.layout__main {
  grid-column: 2 / -2;
}

.layout__footer {
  grid-column: 1 / -1;
}